*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fisrtSection, .third{
    width: 70%;
    height: auto;
    background-image: url("resources/Banner\ Image.png");
    background-repeat: round;
    margin: 50px auto;
    color: white;
    text-align: center;
    padding: 10%;
    opacity: 0.7;
}

.fisrtSection h1, .third h1{
    font-size: 40px;
    margin: 5px 0;
}

.secondSection{
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.secondSection div img{
    width: 100%;
}

.secondSection h1{
    color: red;
    font-size: 50px;
    margin: 20px 0px;
}
.secondSection div h3{
    color: red;
    font-size: 12px;
    margin: 10px 0;
}

.secondSection div h2{
    font-size: 30px;
    margin: 10px 0;
}

.third{
    text-align: left;
    background-image: url("resources/Vectorrr.png");
    padding: 50px 80px;
}

.third p{
    margin: 20px 0;
    font-size: 12px;
    color: rgb(231, 228, 223);
}

.third a{
    color: white;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    margin-left: 30px;
    
}

.sectiomFour{
    width: 70%;
    margin: 30px auto;
    background-color: rgb(255, 239, 219);
    padding: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;

}

.sectiomFour h2{
    margin: 10px;
}

.sectiomFour span{
    color: red;
}

.sectiomFour button{
    padding: 8px;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #FF0000;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    font-size: 12px;
}

.sectiomFive{
    width: 70%;
    height: 550px;
    text-align: center;
    position: relative;
    margin: 20px auto;

}

.sectiomFive h1{
    font-size: 40px;
    margin: 10px;
}

.sectiomFive span {
    color: #FF0000;
}
.sectiomFive p{
    font-size: 12px;
    margin: 10px 100px;
}
.sectiomFive .img01 {
    width: 20%;
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
}

.sectiomFive .img02 {
    width: 50%;
    position: absolute;
    left: 8%;
    top: 35%;
    z-index: 1;
    
}

.sectiomFive .img03 {
    width: 40%;
    margin-right: 0px;
    position: absolute;
    right: 0%;
}

.sectiomFive .img04 {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.secondSix{
    width: 70%;
    height: auto;
    margin: 60px auto;
}

.secondSix h4{
    color: #FF0000;
    text-transform: uppercase;
}

.secondSix h1{
    margin: 10px 0;
}

.secondSix p{
    color: rgb(200, 200, 201);
    font-size: 12px;
    margin: 10px 0;
}

.secondSix img{
    width: 30%;
    margin: 10px;
}